@import url('../css/leonardo-v2.css');

nav {
    background-color: var(--yellow-lg);
    height: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-2);
}

.nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    margin-bottom: 0;
    color: var(--grey-900);
    letter-spacing: var(--letter-spacing);
    font-weight: 300;
}

.nav-links {
    display: flex;
}

nav a {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--grey-900);
    letter-spacing: var(--letter-spacing);
    margin-right: 1rem;
    transition: var(--transition);
}

nav a:hover {
    color: var(--prime-500);
}

main {
    height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: var(--black-1);
    color: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 2.5rem;
    letter-spacing: var(--letter-spacing);
    font-weight: 200;
}

.colour {
    text-transform: lowercase;
    font-weight: 500;
    color: var(--yellow-md)
}